<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/common.css}" >
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body class="bgimgforRegister">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>List of all users</h2>
                    <table class="table table-condensed table-responsive table-sm">
                        <thead class="thead-dark">
                        <tr>
                            <th class="labelimg"><i class="fas fa-users"></i> Username</th>
                            <th class="labelimg"><i class="fas fa-key"></i> Password</th>
                            <th class="labelimg"><i class="far fa-star"></i></i> Status</th>
                        </tr>
                        </thead>

                        <th:block th:each="usere : ${Users}">
                            <tr>
                                <td class="labelimg">
                                    <span class="fas fa-user-astronaut" style="color:rgb(255,88,84)" th:attr="style=${usere.roles.iterator().next().role.equals('ADMIN')} ? 'color:rgb(255,88,84)': 'color:rgb(141,255,120)'"></span>
                                    <label th:text="${usere.username}" style="color:rgb(92,197,255)"></label>
                                </td>
                                <td class="labelimg">
                                    <label th:text="${usere.password}" style="color:rgb(92,197,255)"></label>
                                </td>
                                <td class="labelimg">
                                    <span class="fas fa-brain" style="color:rgb(255,88,84)" th:attr="style=${usere.roles.iterator().next().role.equals('ADMIN')} ? 'color:rgb(255,88,84)': 'color:rgb(141,255,120)'"></span>
                                    <label th:text="${usere.roles.iterator().next().role}" style="color:rgb(92,197,255)"></label>
                                </td>
                                <td>
                                    <!--<div class="form-check" th:each="rol : ${roles}">-->
                                    <!--<input class="form-check-input" name="role_id" type="radio"-->
                                    <!--th:value="${rol}"-->
                                    <!--th:checked="${usere.roles.iterator().next().role.equals(rol)} ? 'checked'">-->
                                    <!--<label class="form-check-label" th:text="${rol}"></label>-->
                                    <!--</div>-->
                                </td >
                                <!--<input type="hidden" name="id" th:value="${usere.id}">-->
                                <input type="hidden" name="_method" value="put"/>
                                <td>
                                    <button class="btn btn-outline-warning" type="button"
                                            data-toggle="modal"
                                            data-target="#" th:attr="data-target='#'+${usere.id}"><i
                                            class="fa fa-fw fa-edit"></i></button>
                                </td>
                                <!-- Modal Change Window -->
                                <div class="modal fade" th:id="${usere.id}" tabindex="-1" role="dialog"
                                     aria-labelledby="ChangeModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content changeWindow">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ChangeModalLabel" style="color:#0a8aff">Добавление нового
                                                    пользователя</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form th:action="@{/admin/update}" th:object="${usere}" method="POST"
                                                  class="form-group">
                                                <div class="modal-body">
                                                    <label for="register-name" class="col-form-label" style="color:#0a8aff"><i class="fas fa-user"></i>
                                                        Username:</label>
                                                    <input class="form-control form-control-sm"
                                                           type="text"
                                                           id="user" name="username"
                                                           th:value="*{username}"/>
                                                    <label for="register-password" class="col-form-label" style="color:#0a8aff"><i class="fas fa-key"></i>
                                                        Password:</label>
                                                    <input class="form-control form-control-sm"
                                                           type="text"
                                                           id="pass" name="password"
                                                           th:value="*{password}"/>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger"
                                                            data-dismiss="modal"><i class="fas fa-window-close"></i>
                                                    </button>
                                                    <button type="submit" class="btn btn-primary"><i
                                                            class="fas fa-plus"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <form th:action="@{/admin/delete}" th:object="${usere}" method="POST">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <input type="hidden" id="id" name="id" th:value="*{id}">
                                    <td>
                                        <button class="btn btn-outline-danger" type="submit"><i
                                                class="fa fa-fw fa-trash"></i></button>
                                    </td>
                                </form>
                            </tr>
                        </th:block>
                    </table>
                </div>
                <!--ниже сделаем кнопку logоut-->
                <div class="col-md-6">
                    <button button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#RegisterModal"> <i class="fas fa-registered"></i>
                        Регистрация нового пользователя
                    </button>
                    <!-- Modal Register Window-->
                    <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog"
                         aria-labelledby="RegisterModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content registerimg">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="RegisterModalLabel" style="color:#0a8aff">Добавление нового пользователя</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/admin/add}" th:object="${user}" method="POST" class="form-group">
                                    <div class="modal-body">

                                        <label for="register-name" class="col-form-label" style="color:#0a8aff"><i class="fas fa-user"></i>
                                            Username:</label>
                                        <input class="form-control form-control-sm" id=register-name type="text"
                                               th:field="*{username}"/>
                                        <label for="register-password" class="col-form-label" style="color:#0a8aff"><i class="fas fa-key"></i>
                                            Password:</label>
                                        <input class="form-control form-control-sm" id=register-password type="text"
                                               th:field="*{password}"/>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                                                class="fas fa-window-close"></i></button>
                                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <form th:action="@{/logout}" method="GET">
                        <button class="btn btn-info" type="submit" ><i class="fas fa-sign-out-alt"></i> Logout</button>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>
<!--<div class="w3-container w3-center w3-margin-bottom w3-padding">-->
<!--<div class="w3-card-4">-->
<!--<div class="w3-container w3-light-blue">-->
<!--</div>-->
<!--<div class="w3-card-4">-->
<!--<div class="container">-->
<!--<form th:action="@{/admin/add}" th:object="${user}" method="POST" class="form-signin">-->
<!--<h2 class="form-signin-heading">add new user</h2>-->

<!--<div class="form-group">-->
<!--<input type="text" th:field="*{username}"/>-->
<!--<div>-->
<!--<span style="font-size: small; color: red; " th:if="${#fields.hasErrors('username')}"-->
<!--th:errors="*{username}"></span>-->
<!--</div>-->
<!--</div>-->

<!--<div class="form-group">-->
<!--<input type="password" th:field="*{password}"/>-->
<!--<div>-->
<!--<span style="font-size: small; color: red; " th:if="${#fields.hasErrors('password')}"-->
<!--th:errors="*{password}"></span>-->
<!--</div>-->
<!--</div>-->

<!--<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>-->
<!--</form>-->


<!--</div>-->
<!--</div>-->
<!--<ul>-->
<!--<ul class="w3-ul">-->
<!--<h2 class="form-signin-heading">List of all users</h2>-->
<!--<table border="2"  align="center" bgcolor="#0a996e" cellpadding="100">-->
<!--<tr>-->
<!--<th>username</th>-->
<!--<th>password</th>-->
<!--</tr>-->
<!--<th:block th:each="usere : ${Users}">-->
<!--<tr height="10">-->
<!--<form th:action="@{/admin/update}" th:object="${usere}" method="POST" class="form-signin">-->
<!--<h2 class="form-signin-heading"></h2>-->
<!--<td>-->
<!--<div class="form-group">-->
<!--<input type="text" id="username" name="username" th:value="*{username}"/>-->
<!--</div>-->
<!--</td>-->
<!--<td>-->
<!--<div class="form-group">-->
<!--<input type="text" id="password" name="password" th:value="*{password}"/>-->
<!--</div>-->
<!--</td>-->
<!--<td>-->
<!--<li th:each="rol : ${roles}">-->
<!--<input name="role_id" type="radio" th:value="${rol}" th:checked="${usere.roles.iterator().next().role.equals(rol)} ? 'checked'">-->
<!--<label th:text="${rol}" ></label>-->
<!--</li>-->
<!--</td>-->

<!--<input type="hidden" name="id" th:value="*{id}">-->
<!--<input type="hidden" name="_method" value="put"/>-->
<!--<td  width="15%" bgcolor="#FF0000">-->
<!--<button class="btn btn-lg btn-primary btn-block" type="submit">change</button>-->
<!--</td>-->
<!--</form>-->
<!--<form th:action="@{/admin/delete}" th:object="${usere}" method="POST" class="form-signin">-->
<!--<input type="hidden" name="_method" value="delete"/>-->
<!--<input type="hidden" id="id" name="id" th:value="*{id}">-->
<!--<td width="15%" bgcolor="#0011ff">-->
<!--<button class="btn btn-lg btn-primary btn-block" type="submit">delete</button>-->
<!--</td>-->
<!--</form>-->
<!--</tr>-->
<!--</th:block>-->
<!--</table>-->
<!--</ul>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
</body>
</html>
