<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="w3-container w3-center w3-margin-bottom w3-padding">
    <div class="w3-card-4">
        <div class="w3-container w3-light-blue">
        </div>
        <div class="w3-card-4">
            <div class="container">
                <form th:action="@{/admin/add}" th:object="${user}" method="POST" class="form-signin">
                    <h2 class="form-signin-heading">add new user</h2>

                    <div class="form-group">
                        <input type="text" th:field="*{username}"/>
                        <div>
                                <span style="font-size: small; color: red; " th:if="${#fields.hasErrors('username')}"
                                      th:errors="*{username}"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="password" th:field="*{password}"/>
                        <div>
                                <span style="font-size: small; color: red; " th:if="${#fields.hasErrors('password')}"
                                      th:errors="*{password}"></span>
                        </div>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </form>


            </div>
        </div>
        <ul>
            <ul class="w3-ul">
                <h2 class="form-signin-heading">List of all users</h2>
                <table border="2"  align="center" bgcolor="#0a996e" cellpadding="100">
                    <tr>
                        <th>username</th>
                        <th>password</th>
                    </tr>
                    <th:block th:each="usere : ${Users}">
                        <tr height="10">
                            <form th:action="@{/admin/update}" th:object="${usere}" method="POST" class="form-signin">
                                <h2 class="form-signin-heading"></h2>
                                <td>
                                    <div class="form-group">
                                        <input type="text" id="username" name="username" th:value="*{username}"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="text" id="password" name="password" th:value="*{password}"/>
                                    </div>
                                </td>
                                <td>
                                    <li th:each="rol : ${roles}">
                                            <input name="role_id" type="radio" th:value="${rol}" th:checked="${usere.roles.iterator().next().role.equals(rol)} ? 'checked'">
                                            <label th:text="${rol}" ></label>
                                    </li>
                                </td>

                                <input type="hidden" name="id" th:value="*{id}">
                                <input type="hidden" name="_method" value="put"/>
                                <td  width="15%" bgcolor="#FF0000">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">change</button>
                                </td>
                            </form>
                            <form th:action="@{/admin/delete}" th:object="${usere}" method="POST" class="form-signin">
                                <input type="hidden" name="_method" value="delete"/>
                                <input type="hidden" id="id" name="id" th:value="*{id}">
                                <td width="15%" bgcolor="#0011ff">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">delete</button>
                                </td>
                            </form>
                        </tr>
                    </th:block>
                </table>
            </ul>
        </ul>
    </div>
</div>
<!--<div class="w3-container w3-grey w3-opacity w3-right-align w3-padding">-->
<!--<form method="Get">-->
<!--<button type="submit" formaction="/logout" class="w3-btn w3-round-large">logout</button>-->
<!--</form>-->
<!--</div>-->
</body>
</html>