<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/movestar.css}">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<!--Звзды-->
<body class="stars">
<audio th:src="@{/music/map.mp3}" autoplay="autoplay" loop>
</audio>
<!--Мерцание звезд-->
<div class="twinkling">
    <div class="container">
        <!--облака-->
        <div class="clouds">
            <div class="row">
                <div class="col-md-12">
                    <!--space - магия вращения -->
                    <form th:action="@{/}" method="post" class="form-signin space">
                        <h2 class="form-heading" style="color:rgb(0,76,255)"><span class="fas fa-user-astronaut"
                                                                                   style="color:rgb(113,18,255)"></span>
                            Do it</h2>
                        <div class="form-group">
                            <input name="username" type="text" class="form-control" placeholder="Username"
                                   autofocus="true"/>
                            <input name="password" type="password" class="form-control" placeholder="Password"/>
                            <div th:if="${param.error}">
                                <span style="font-size: small; color: red; ">Invalid username or password.</span>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Вход</button>
                            <button type="button" class="btn  btn-block btn-primary" data-toggle="modal"
                                    data-target="#RegisterModal"><i class="fas fa-space-shuttle"></i> Регистрация
                            </button>
                            <!--<form th:action="@{/login/google}" method="GET">-->
                                <!--<button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fas fa-sign-out-alt"></i>Вход через гугл</button>-->
                            <!--</form>-->
                            <a href="/login/google" class="btn btn-lg btn-primary btn-block">Вход через гугл</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Register Window-->
<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog"
     aria-labelledby="RegisterModalLabel"
     aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content registerimg">
            <div class="modal-header">
                <h5 class="modal-title" id="RegisterModalLabel" style="color:#0a8aff">Добавление нового
                    пользователя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/registration}" th:object="${user}" method="POST" class="form-group">
                <div class="modal-body">

                    <label for="register-name" class="col-form-label" style="color:#0a8aff"><i
                            class="fas fa-user"></i>
                        Username:</label>
                    <input class="form-control form-control-sm" id=register-name type="text"
                           th:field="*{username}"/>
                    <label for="register-password" class="col-form-label" style="color:#0a8aff"><i
                            class="fas fa-key"></i>
                        Password:</label>
                    <input class="form-control form-control-sm" id=register-password type="text"
                           th:field="*{password}"/>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i
                            class="fas fa-window-close"></i></button>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>