<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create an account</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<div class="container">
    <form th:action="@{/registration}" th:object="${user}"   method="POST"  class="form-signin">
        <h2 class="form-signin-heading">Create your account</h2>
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{username}"/>
            <div>
                <span style="font-size: small; color: red; " th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{password}"/>
            <div>
                <span style="font-size: small; color: red; "th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">create</button>
    </form>
</div>
</body>
</html>